@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Shadows+Into+Light&display=swap");

.blur {
  filter: blur(100px);
}

.no-scroll {
  overflow: hidden;
}

.shadow-right {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
button:hover .blue-circle {
  display: block;
}
.custom-hover:hover .rounded-md {
  filter: blur(1px);
}
.justify-top {
  justify-content: flex-start;
  margin-top: -100px;
}
/*
.spcl-font {
  font-family: "Shadows Into Light", cursive;
}*/
/* Add a media query for screens that are greater than 768px wide (typical desktop) */
@media (min-width: 768px) {
  .no-scroll {
    overflow: hidden;
  }
}

/* Add a media query for screens that are 767px or less in width (typical mobile) */
@media (max-width: 767px) {
  .no-scroll {
    overflow: auto;
  }
}
