@tailwind base;
@tailwind components;
@tailwind utilities;

.blur {
  filter: blur(100px);
}

.no-scroll {
  overflow: hidden;
}
.shadow-right {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* adjust the values as per your preference */
}
